html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.e-bigger{
    font-size: x-large;
}

.e-btn-group.my-rbt-group{
    width: 100%;
}

.e-btn-group.my-rbt-group.e-btn{
    width: 50%;
}


.my-rbt-group label.e-btn{
    box-shadow: none !important;
    border: 1px solid #fff;
    background-color: rgb(0, 148, 255);
    color: #fff;
}

.e-btn-group.my-rbt-group.e-btn input:checked + label.e-btn{
    background-color: rgb(1, 83, 143)
    color:whitesmoke;
    border: 1px solid #fff;
}


#sidebar {
    background-color: #198754;
    border-right: 1px dashed rgba(75,82,85,0.24);
    padding: 10px 20px;
    overflow: hidden;
    min-height: 100vh;
}

.e-sidebar-context{
    min-height: 100vh;
}

.fa-solid{
    color: whitesmoke;
}
    #sidebar .e-menu-wrapper {
        width: 100%;
        background-color: inherit;
    }

#sidebar-toggler {
    padding: 10px;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
}

    #sidebar-toggler:hover {
        cursor: pointer;
        background-color: #48545f14;
        transform: scale(1.05) translateZ(0px);
    }

#sidebar.e-close {
    padding-left: 10px;
    padding-right: 10px;
}

    #sidebar.e-close .app-logo {
        display: none;
    }

    #sidebar.e-close .e-anchor-wrap, #sidebar.e-close .e-menu-item.e-menu-caret-icon {
        font-size: 0px;
    }

    #sidebar.e-close .profile-wrapper .titles {
        display: none !important;
    }


    #sidebar.e-open .e-anchor-wrap,
    #sidebar.e-close .e-menu-icon, #sidebar.e-open .e-menu-icon {
        visibility: visible;
    }

#sidebar.e-open .profile-wrapper .titles, #sidebar.e-open .app-logo {
    display: flex;
}

#sidebar.e-sidebar.e-right.e-close {
    visibility: visible;
    transform: translateX(0%);
}

#sidebar.e-open #sidebar-toggler:before {
    content: '\f100'
}

#sidebar.e-close #sidebar-toggler:before {
    content: '\f101'
}

.e-menu-wrapper .e-menu .e-menu-item .e-menu-icon, .e-menu-container .e-menu .e-menu-item .e-menu-icon{
    color: whitesmoke;
}

.e-menu-wrapper .e-menu .e-menu-item .e-menu-url, .e-menu-container .e-menu .e-menu-item .e-menu-url{
    color: whitesmoke;
}
.widget {
    border-radius: 1rem;
    background-color: #e6e6e6;
}

.app-logo{
    width: 85px;
    height: 85px;
}

.profile-pic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom:10px;
}